// 定义颜色
$colors: (
    primary: #d69e3f,
    'white': #fff,
    'white-1': #fcfcfc,
    'white-2': #eceef0,
    'light': #f9f9f9,
    'light-1': #d4d9de,
    'grey': #999,
    'grey-1': #666,
    'dark-1': #343440,
    'dark': #222,
    'black': #000,
    info: #4b67af,
    danger:#f56c6c,
    blue:#409eff
);
$border-color: map-get($colors, 'light-1');
// 定义字体大小
// vscode 插件 px 2 rem
$base-font-size: 1rem;
$font-sizes: (
    xxs: 0.615385 /* 8/13 */,
    xs: 0.769231 /* 10/13 */,
    sm: 0.923077 /* 12/13 */,
    md: 1,
    lg: 1.076923 /* 14/13 */,
    xl: 1.230769 /* 16/13 */
);
// 定义主轴对齐方式
$flex-jc: (
    start: flex-start,
    end: flex-end,
    center: center,
    between: space-between,
    around: space-around
);
// 定义侧轴对齐方式
$flex-ai: (
    start: flex-start,
    end: flex-end,
    center: center,
    stretch: stretch // 侧轴等高
);
// 边距
// 定义边距类比
$space-type: (
    m: margin,
    p: padding
);
// 定义边距方向
$space-directionsL: (
    t: top,
    b: bottom,
    l: left,
    r: right
);
// 定义边距尺寸
$base-space-size: 1rem;
$space-size: (
    0: 0,
    1: 0.25,
    2: 0.5,
    3: 1,
    4: 1.5,
    5: 3
);
